.postContainer {
  padding: 10px;
  border: 1px solid grey;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.postContainer > .postDescription {
  padding-left: 10px;
}

.postContainer > .postDescription > h1 {
  margin: 0;
  color: black;
  text-transform: capitalize;
}

.postContainer > .postDescription > h3 {
  color: black;
}
